*.c zos-working-tree-encoding=IBM1047 git-encoding=utf-8
*.cpp zos-working-tree-encoding=IBM1047 git-encoding=utf-8
*.h zos-working-tree-encoding=IBM1047 git-encoding=utf-8
Makefile zos-working-tree-encoding=IBM1047 git-encoding=utf-8
.gitattributes zos-working-tree-encoding=iso8859-1
.gitignore zos-working-tree-encoding=iso8859-1
